/*Enlace tipografia*/
@font-face{
	font-family:"segoesc";
	src: url("../fonts/segoesc.ttf") format("truetype");
	font-style: normal;
	font-weight: none;
}

:root {
      font-family: 'dosis';
    --transition-speed: 600ms; /*variable de transición*/
  }
/*Reseteo*/
*{
	margin:0;
	border:0;
	padding:0;
	list-style:none;
	box-sizing: border-box;
}
/*configuración de ancho y largo de pantalla*/
html{
    height: 100vh;
    width: 100% !important; 
    overflow-x: hidden !important;
}
/*Caja contenedora general*/
#main_section{
    display: flex;
    background:radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(103,61,77,1) 0%, rgb(0, 0, 0) 97%);
    height: 100vh;
    width: 100% !important; 
 }
 /* Barra de navegación cerrada*/
nav{
    background-color: rgba(0, 10, 9, 0.575);
    display: flex;
    flex-direction: column;  /*Direccion de los elementos en columna*/
    justify-content: space-between; /*Da espacio entre los elementos que habitan la nav*/
    height: 100vh;
    position: fixed;/*Hace estatita la nav*/
    z-index: 900;/*La eleva un nivel*/
    width: 10%;
    transition: width 400ms ease;
    }
/* Encabezados de lista*/
.navbar_nav{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Cada item de lista*/
.nav-item{
    width: 100%;
    display: flex;
}
/* Cada enlace de lista*/
.nav_link{
    display: flex;
    align-items: center;
    height: 5rem;
    transition: var(--transition-speed)
}
/* hover de cada item*/
.nav-item:hover{
    background-color: rgba(224, 13, 179, 0.986);
    font-size: 1.1rem;
 }
/* iconos del nav*/
.nav_link img{
  margin: 0 1.5rem;
}
/* texto de cada item del nav*/
.link_text{
    display: none;
    margin-left: 6rem;
    overflow: hidden;
    position: absolute;
}
/* Al pararse sobre el nav ocurre lo siguiente*/
nav:hover{
    width: 14rem;
 }

nav:hover .link_text{
    display: block;
    color: white;
    transition: block 300ms ease;
 }
 .logo{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  display: flex;
 }
.nav-logo{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img{
  transform: rotate(0deg);
  transition: var(--transition-speed);
  margin-left: 1rem;
}
 nav:hover .logo img{
  transform: rotate(-540deg);
}
.logo_text{
  display: none;
  position: relative;
 margin-left: 2rem;
}
nav:hover .logo_text{
  display: block;
  color: white;
  transition: block 300ms ease;
}
/*titulo tabero principal*/

h1{
    font-family:"segoesc"; 
    background: rgb(252, 0, 168);
    font-size:2.5rem;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    text-align: center;
  }

/*tablero principal*/
#board{
    background-color: rgba(56, 0, 68, 0);
    position: fixed;
    width: 110%;
    height: 100vh;
  }
#content{
    display: flex;
    justify-content: center;
}


 /*Piano*/

 .set {
    height:18.875em;
    width:55em;
    margin:5em 15em;
    padding:3em 0 0 3em;
    position:relative;
    border:1px solid #160801;
    border-radius:1em;
    background:rgba(255, 217, 248, 0.336);
    box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5)
  }
  
  .set li {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    float:left
  }
  
  .set  .white {
    height:16em;
    width:2em;
    z-index:1;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-radius:0 0 5px 5px;
    box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#eee 0%,#fff 100%)
  }
  
  .set  .white:active {
    border-top:1px solid #777;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
  }
  
  .black {
    height:8em;
    width:2em;
    margin:0 0 0 -1em;
    z-index:2;
    border:1px solid #000;
    border-radius:0 0 3px 3px;
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
    background:linear-gradient(45deg,#222 0%,#555 100%)
  }
  
  .black:active {
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
    background:linear-gradient(to right,#444 0%,#222 100%)
  }
  
  .a,.g,.f,.d,.c {
    margin:0 0 0 -1em
  }
  
  .set ul li:first-child {
    border-radius:5px 0 5px 5px
  }
  
  .set ul li:last-child {
    border-radius:0 5px 5px 5px
  }

 /*RESPONSIVE DISPOSITIVOS MOVILES Pagina piano*/

 @media only screen and (max-width: 600px) {
    nav {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      flex-direction: row;
    }
  
    .logo {
      display: none;
    }
  
    .navbar_nav {
      flex-direction: row;
      width: 50%;
      justify-content: space-around;
    }
  
    .nav_link {
      justify-content: center;
     
    }
  
    main {
      margin: 0;
    }
    .set {
        height:25vh;
        width:100%;
        margin:5em 0.5em;
        padding: 0.5% 0.5%;        
      }
      
    
      
      .set  .white {
        height:16em;
        width:5%;
      }
      
      .set  .white:active {
        border-top:1px solid #777;
        border-left:1px solid #999;
        border-bottom:1px solid #999;
        box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
        background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
      }
      
      .black {
        height:8em;
        width:3%;
        margin:0 0 0 -1em;
        z-index:2;
        border:1px solid #000;
        border-radius:0 0 3px 3px;
        box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
        background:linear-gradient(45deg,#222 0%,#555 100%)
      }
      
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
      nav{
          width: 15%;

      }
      }

/*fin pagina del piano*/

/*inicio segundo instrumento*/
